<div class="categories-selector">
    <h4><b>CATEGORÍAS</b> DE PRODUCTOS</h4>
    <div class="categories-selector__list">
        <div class="categories-selector__item category-item">
            <div class="category-item__img-container"><img src="https://via.placeholder.com/270" alt=""></div>
            <div class="category-item__name">Cacao en polvo</div>
        </div>
        <div class="categories-selector__item category-item">
            <div class="category-item__img-container"><img src="https://via.placeholder.com/270" alt=""></div>
            <div class="category-item__name">Cacao en polvo</div>
        </div>
        <div class="categories-selector__item category-item">
            <div class="category-item__img-container"><img src="https://via.placeholder.com/270" alt=""></div>
            <div class="category-item__name">Cacao en polvo</div>
        </div>
        <div class="categories-selector__item category-item">
            <div class="category-item__img-container"><img src="https://via.placeholder.com/270" alt=""></div>
            <div class="category-item__name">Cacao en polvo</div>
        </div>
        <div class="categories-selector__item category-item">
            <div class="category-item__img-container"><img src="https://via.placeholder.com/270" alt=""></div>
            <div class="category-item__name">Cacao en polvo</div>
        </div>
    </div>
</div>