<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="cursor:pointer;">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#quienes-somos">QUIENES SOMOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#productos">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">CONTACTO</a>
                </li>
            </ul>
        </div>


    </nav>
</header>

<div id="home" class="m-top-100">
    <div id="logo_slider"><img src="../../../assets/old_assets/img/logo_slider.png" alt="" /></div>
    <div id="wrapper">
        <div class="callbacks_container">
          <ul class="rslides" id="slider4">
            <li>
              <img src="../../../assets/old_assets/img/home/1.jpg" alt="">
            </li>
            <li>
              <img src="../../../assets/old_assets/img/home/2.jpg" alt="">
            </li>
            <li>
              <img src="../../../assets/old_assets/img/home/3.jpg" alt="">
            </li>
            <li>
              <img src="../../../assets/old_assets/img/home/4.jpg" alt="">
            </li>
          </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<section id="quienes-somos" class="m-top-50">
    <!--<div class="container">-->
    <div class="row no-margin">
        <div class="col-md-6 offset-md-1">
            <div style="margin-bottom: -14px; color: #531815; font-size: 30px; font-family: Barlow-MediumItalic;"><img src="../../../assets/old_assets/img/logo_quienes_somos.png" alt="" id="logo_quienes_somos" /> <img src="../../../assets/old_assets/img/logo_iso.png" alt="" id="logo_quienes_somos" /> QUIENES SOMOS</div>
            <p>
                Somos un equipo de profesionales con más de 15 años de experiencia en la importación, comercialización y distribución de productos derivados del cacao (cacao en polvo, manteca de cacao, licor de cacao), de calidad Súper Premium.  <br />
                Liderados por <span data-toggle="tooltip" title="Trabajó como asesora en Águila Saint, Arcor, Bonafide, Jorgito, Fantoche y La Nirva" style="cursor:pointer;">María José Burs*</span>, ayudamos a nuestros clientes a seleccionar la materia prima más adecuada, procesarla eficientemente y resolver problemas técnicos y de formulaciones.<br />
                Nos caracteriza nuestro servicio integral de calidad garantizada en todo el proceso (Normas de Calidad ISO 9001). Contamos con varios centros de abastecimiento, y una logística eficaz que nos permite cumplir en tiempo y forma con la distribución y la entrega de la materia prima.  <br />
                Abastecemos a grandes clientes productores de los mejores chocolates y helados del mercado argentino.<br /><br />
            </p>
        </div>
        <div class="col-md-4 offset-md-1 no-padding">
            <img src="../../../assets/old_assets/img/quienes-somos.jpg" class="img-responsive">
        </div>
    </div>
    <!--</div>-->
    <br />


 <!--<section id="marcas">-->
    <div class="container">
        <div class="row">
            <h2 class="center uppercase bold">Las marcas que nos eligen</h2><br /><br />

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="../../../assets/old_assets/img/marcas/1.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="../../../assets/old_assets/img/marcas/2.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="../../../assets/old_assets/img/marcas/3.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="../../../assets/old_assets/img/marcas/4.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                </div>
            </div>

            <div class="col-9 box-center">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/old_assets/img/marcas/5.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/old_assets/img/marcas/6.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/old_assets/img/marcas/7.jpg" class="img-responsive" style="max-width:250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </section>-->
</section>

<section id="productos">

    <div id="logo_slider"><img src="../../../assets/old_assets/img/logo_slider.png" alt="" /></div>
    <img src="../../../assets/old_assets/img/productos.jpg" class="img-responsive" style="max-width: 100% !important;">

    <categories-list></categories-list>
</section>

<footer class="section section-primary white-transparent3" id="contacto">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" id="preguntas_contacto">
                <h2>Preguntas Frecuentes</h2>

              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" class="pregunta_faq" data-parent="#accordion" href="#collapse1">· ¿Venden granos de cacao/cascarilla/chispas de chocolate/dátiles de chocolate/cacao azucarado?</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Comercializamos solamente cacao en polvo, pasta de cacao y manteca de cacao.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" class="pregunta_faq" data-parent="#accordion" href="#collapse2">· ¿Hacen envíos?</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Nuestros envíos son a CABA y Gran Buenos Aires. En caso de que el envío sea al interior del país, entregamos la mercadería en el transporte que nos indiquen.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" class="pregunta_faq" data-parent="#accordion" href="#collapse3">· ¿Tienen una lista de precios?</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Nuestros precios varían según volúmenes de compra, por lo que sugerimos indicar cantidades a la hora de consultar, para poder pasar una cotización adecuada.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" class="pregunta_faq" data-parent="#accordion" href="#collapse4">· ¿Los productos tienen certificados de libre gluten?</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Todos nuestros productos son sin gluten.</div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <img src="../../../assets/old_assets/img/logo_footer.png">
                <h1>Contáctanos</h1>
                <h5>
                    En <span class="bold">Chocolar S.R.L</span> estamos a disposición por cualquier consulta.<br />
                    Por favor, dejá tus inquietudes en el formulario y te responderemos a la brevedad.
                </h5>
                <h5 class="bold">
                    ¡Muchas gracias!
                </h5>
            </div>
        </div>

        <div class="row">
            <form name="form_contacto" id="form_contacto" onsubmit="enviarFormulario(); return false;">
                <div class="col-md-7">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" required>
                    <input type="text" name="telefono" placeholder="Teléfono" class="form-control" required>
                    <input type="text" name="mail" placeholder="Mail" class="form-control" required>
                    <textarea class="form-control" placeholder="Consulta" name="consulta" required></textarea>
                    <br /><div class="g-recaptcha" data-sitekey="6LfZO0AUAAAAAIv_fsITatRn5P8B2cKjjy6SfbtS"></div>
                </div>
                <div class="col-md-5">
                    <div style="font-size: 18px; text-align: center; max-width: 230px;">
                        <!-- <font style="font-weight: 600; font-style: italic;">Comunicate con nosotros</font><br />
                        <font style="font-weight: 600;">Oficina:</font>  48119667 <br />
                        <font style="font-weight: 600;">Celular:</font>  1550104148 -->
                    </div>
                </div>

                <div class="col-md-12" style="padding-top: 10px; padding-left: 25px;">
                    <input type="radio" name="cliente" id="proveedor" value="proveedor">
                    <label for="proveedor">&bull; Proveedor</label>
                </div>

                <div class="col-md-12" style="padding-left: 25px;">
                    <input type="radio" name="cliente" id="cliente" value="cliente">
                    <label for="cliente">&bull; Cliente</label>
                </div>

                <div class="col-md-12">
                    <input type="submit" value="Enviar" class="btn btn-default">
                </div>
            </form>    
        </div>
        <div class="msg-error"></div>
        <div id="resultado" style="color:#ffffff; font-size: 17px; margin-top: 10px;"></div>

        <br /><br />
    </div>
</footer>